<!-- views/partials/navbar.ejs - Navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
  <div class="container">
    <a class="navbar-brand" href="/">
      <i class="fas fa-mask me-2"></i>Superhero Database
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/top-heroes">
            <i class="fas fa-trophy me-1"></i>Top 10
          </a>
        </li>
      </ul>
      
      <!-- Search form -->
      <form class="d-flex mx-3" action="/superhero/search" method="GET">
        <input class="form-control me-2" type="search" name="query" placeholder="Search heroes..." aria-label="Search">
        <button class="btn btn-outline-light" type="submit">
          <i class="fas fa-search"></i>
        </button>
      </form>
      
      <ul class="navbar-nav">        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="#" onclick="event.preventDefault(); navigateToProfile();">
              <i class="fas fa-user me-1"></i><%= user.username %>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
          </li>
          
          <script>
            function navigateToProfile() {
              // Always use HTTP for profile navigation
              const profileUrl = 'http://' + window.location.host + '/profile';
              console.log('Navigating to profile via:', profileUrl);
              window.location.href = profileUrl;
            }
          </script>
        <% } else { %>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/register">Register</a>
          </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
